body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
    background-color: #e7e7e7;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#task-list div {
    background-color: #e1e5e9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.edit-btn {
    background-color: #28a745; /* Green for Edit */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545; /* Red for Delete */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}
